@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nx6hcm');
  src:  url('../fonts/icomoon.eot?nx6hcm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nx6hcm') format('truetype'),
    url('../fonts/icomoon.woff?nx6hcm') format('woff'),
    url('../fonts/icomoon.svg?nx6hcm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e90f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-database:before {
  content: "\e964";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}


html,body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

strong {
  color: #0C9FF9;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Header Section */

.header {
  background-color:#373737;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  transition: top 0.3s;
  opacity: 0.9;
  box-shadow: 2px 2px 2px #000000;
  
}

.container {
  max-width: 75rem;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  display: inherit;
  align-items: center;
  justify-content: inherit;
  flex-wrap: inherit;
  padding: 0 2rem;
  flex: 1;
}

.header nav {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: inherit;
}

.logo {
  height: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.logo a {
  color: #FFFFFF;
}

.logo a:hover {
  color: #0C9FF9;
}

.menu {
  height: inherit;
  display: inherit;
}

.burger-button {
  width: 3.5rem;
  height: 3.5rem;
  color: #F6F6F6;
  background-color: rgba(0, 0, 0, .5);
  font-size: 1.5rem;
  border-radius: 1.75rem;
  display: none;
  line-height: 3.5rem;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 86%;
  top: 0.75rem;
}

.burger-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.header ol {
  height: inherit;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header ol li {
  height: inherit;
  padding-left: 2rem;
}

.header a {
  height: inherit;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header ol a {
  color: #D9D9D9; 
}

.header ol a:hover{
  color:  #FFFFFF;
}

/* Hero Section */

.hero {
  height: 40rem;
  background: #373737;
  display: flex;
  flex-wrap: wrap;
}

.hero .container {
  display: flex;
  align-items: center;
}

.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
}

.intro {
  color: #F6F6F6;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 6rem;
}

/* Portfolio Section */

figure {
  margin: 0;
} 

img {
  box-shadow: 4px 4px 4px #000000;
  border-radius: .5rem;
}

.portfolio {
  background: #E4E2E2;
  height: auto;
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio figure {
  width: 48%;
  height: 325px;
  margin: 1.5rem 0;
}

.project-image {
  width: 100%;
  height: 325px;
}

/* About Section */

.about {
  background-color: #EBE9E9;
  height: auto;
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about figure {
  width: 325px;
  height: 400px;
  margin: 1.5rem 0;
  width: 48%;
  display: flex;
  justify-content: center;
}

.about img {
  box-shadow: none;
}

.profile-picture {
  width: 375px;
  height: 375px;
  border-radius: 100%
}

.biography {
  width: 48%;
  height: 375px;
  margin: 1.5rem 0;
}
  
h2 {
  color: #0C9FF9;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 2rem;
}

p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 2;
}



/* Section Skills */

.skill {
  background-color: #E4E2E2;
  height: 41.25rem;
}


.flexbox {
  display: flex;
}

.box {
  width: 33.33333333333333vw;
  height: 5rem;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.skill-icon {
  box-shadow: none;
  padding-top: 2rem;
}

h4 {
  font-size: 1.25rem;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skill ol {
  padding-left: 0;
}

.skill ol li {
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
  line-height: 3rem;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 0rem;
}

.contact {
  height: 40.25rem;
  background-color: #EBE9E9; 
}

.contact .box {
  width: 12vw;
}

hr {
  margin-top: 7rem;
  margin-bottom: 7rem;
  width: 20%;
  height: 3px;
  background-color: #0C9FF9;
  font-weight: bolder;
  border: none;
}

.social {
  font-size: 70px;
  
}

.contact a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #373737;
  height: 80px;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  margin: 0;
  color: grey;
}

/* Media queries */

@media screen and (max-width: 947px) {

  .project-image {
    width: 318.75px;
    height: 191.25px;
  }
  .portfolio {
    height: 52.25rem;
  }

}

@media screen and (max-width: 835px) {

  .project-image {
    width: 281.25px;
    height: 168.75px;
  }

  .portfolio {
    height: 48rem;
  }

}

@media screen and (max-width: 767px) {

  .header nav {
    height: inherit;
    justify-content: center;
  } 

  .header ol {
    display: initial;
  }

  .header ol li {
    height: 80px;
    text-align: center;
  }

  .header a {
    justify-content: center;
  }

  .menu {
    height: auto;
    position: fixed;
    background: rgba(12, 159, 249, .9);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100vw;  
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .icon-menu {
      display: block;
  }

  .avatar {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
  }

  .intro {
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding-top: 2rem;
  }

  .portfolio {
    height: 110rem;
  }

  .project-image {
    width: 375px;
    height: 225px;
  }

  .second-container {
    justify-content: center;
  }

  .first-imageSpace {
    padding-top: 9rem;
  }

  .second-imageSpace {
    padding-top: 2rem;
  }

  .portfolio {
    height: 113.5rem;
  }

}

@media screen and (max-width: 480px) {

  .hero {
    height: 30rem;
  }

  .logo {
    font-size: 1.5rem;

  }
  .burger-button {
    font-size: 1.25rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    line-height: 3rem;
    left: 82%;
    top: 1rem;
    
  }
  .avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
  }

  .intro {
    font-size: 1rem;
    line-height: 2rem;
  }

  .project-image {
    width: 300px;
    height: 180px;
  }

  .first-imageSpace {
    padding-top: 7.5rem;
  }

  .second-imageSpace {
    padding-top: 2rem;
  }
  
  .intro {
    padding-top: 2.5rem;
  }

  .portfolio {
    height: 93.75rem;
  }

}

@media screen and (max-width: 360px) {

  .project-image {
    width: 281.25px;
    height: 168.75px;
  }
  
}