@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nx6hcm');
  src:  url('../fonts/icomoon.eot?nx6hcm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nx6hcm') format('truetype'),
    url('../fonts/icomoon.woff?nx6hcm') format('woff'),
    url('../fonts/icomoon.svg?nx6hcm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e90f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-database:before {
  content: "\e964";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}


html,body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    
}
.header {
    background-color:#373737;
    height: 6rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: solid;
    
}

.header nav {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
  height: inherit;
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  display: inherit;
  
}

.logo {
  height: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  display: inherit;
}

.menu {
  height: inherit;
}

.burger-button {
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  line-height: 3.5rem;
  text-align: center;
  color: #F6F6F6;
  position: fixed;
  z-index: 1;
  left: 86%;
  top: 0.75rem;
}

.burger-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.header ol {
    height: inherit;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    
}

.header ol li {
    height: inherit;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.header a {
    height: inherit;
    color: #E4E2E2; 
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.header a:hover{
  color:  #FFFFFF;
}

.logo a {
  color: #F6F6F6;
}

.logo a:hover {
  color: #0C9FF9;
}

.home {
  height: 40rem;
  background: #373737;
  text-align: center;
}
 
figure {
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0;
  padding-top: 4rem;
} 

img {
  box-shadow: 6px 6px 6px #373737;
}

.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
  
}

.intro {
  color: #F6F6F6;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-top: 1em;
}

.portfolio {
  height: 58rem;
  background: #E4E2E2;
  border-style: solid;
}

.container-plus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image {
  width: 30vw;
}

strong {
  color: #0C9FF9;
}


/* Media queries */

@media screen and (max-width: 1024px) {
    }

@media screen and (max-width: 767px) {
    /* Menu icon */
  .header {
    height: 5rem;
  }

  .header nav {
    height: inherit;
    justify-content: center;
  } 

  .header ol {
    display: initial;
  }

  .header ol li {
    height: 80px;
    text-align: center;
  }

  .header a {
    justify-content: center;
  }

  .menu {
    height: auto;
    position: fixed;
    background: rgba(12, 159, 249, .9);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100vw;  
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .icon-menu {
      display: block;
  }


  .project-image {
    width: 300px;
    height: 200px;
  }

  .avatar {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
  }

  .intro {
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding-top: 1.5rem;
  }

  .portfolio {
    height: 110rem;
  }
}

@media screen and (max-width: 480px) {

  .logo {
    font-size: 1.5rem;
}
  .burger-button {
    font-size: 1.25rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    line-height: 3rem;
    left: 82%;
    top: 1rem;
    
  }
  .avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
  }

  .intro {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 320px) {

}