@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nx6hcm');
  src:  url('../fonts/icomoon.eot?nx6hcm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nx6hcm') format('truetype'),
    url('../fonts/icomoon.woff?nx6hcm') format('woff'),
    url('../fonts/icomoon.svg?nx6hcm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e90f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-database:before {
  content: "\e964";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}


html,body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

strong {
  color: #0C9FF9;
}

/* Header section */

.header {
  background-color:#373737;
  height: 6rem; 
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  max-width: 64rem;
  width: 100%;
  height: inherit;
  margin: auto;
}

.header nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  display: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo a {
  color: #F6F6F6;
}

.logo a:hover {
  color: #0C9FF9;
}

.menu {
  height: inherit;
  display: inherit;
}

.burger-button {
  width: 3.5rem;
  height: 3.5rem;
  color: #F6F6F6;
  background-color: rgba(0, 0, 0, .5);
  font-size: 1.5rem;
  border-radius: 1.75rem;
  display: none;
  line-height: 3.5rem;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 86%;
  top: 0.75rem;
}

.burger-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.header ol {
  height: inherit;
  list-style: none;
  text-decoration: none;
  display: inherit;
  margin: 0;
  padding-left: 0;
}

.header ol li {
  height: inherit;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 0;
  display: inherit;
}

.header a {
  height: inherit;
  color: #E4E2E2; 
  font-weight: 600;
  text-decoration: none;
  display: inherit;
  align-items: center;
}


.header a:hover{
  color:  #FFFFFF;
}

/* Hero section */

.hero {
  height: 34rem;
  background: #373737;
  text-align: center;
}
 
figure {
  margin: 0;
  padding: 0;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-right: 3rem;
} 

img {
  box-shadow: 4px 4px 4px #000000;
}

.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
}

.intro {
  color: #F6F6F6;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin: 0;
  padding-top: 2.5rem;
}

.portfolio {
  height: 58.5rem;
  background: #E4E2E2;
  border-style: solid;
}

.image-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first-imageSpace {
  padding-top: 6rem;
}

.project-image {
  width: 375px;
  height: 225px;
}

/* Media queries */

@media screen and (max-width: 947px) {

  .project-image {
    width: 318.75px;
    height: 191.25px;
  }
  .portfolio {
    height: 52.25rem;
  }

}

@media screen and (max-width: 835px) {

  .project-image {
    width: 281.25px;
    height: 168.75px;
  }

  .portfolio {
    height: 48rem;
  }

}

@media screen and (max-width: 767px) {

  .header nav {
    height: inherit;
    justify-content: center;
  } 

  .header ol {
    display: initial;
  }

  .header ol li {
    height: 80px;
    text-align: center;
  }

  .header a {
    justify-content: center;
  }

  .menu {
    height: auto;
    position: fixed;
    background: rgba(12, 159, 249, .9);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100vw;  
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .icon-menu {
      display: block;
  }

  .avatar {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
  }

  .intro {
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding-top: 2rem;
  }

  .portfolio {
    height: 110rem;
  }

  .project-image {
    width: 375px;
    height: 225px;
  }

  .image-container {
    justify-content: center;
  }

  .first-imageSpace {
    padding-top: 9rem;
  }

  .second-imageSpace {
    padding-top: 2rem;
  }

  .portfolio {
    height: 113.5rem;
  }

}

@media screen and (max-width: 480px) {

  .hero {
    height: 30rem;
  }

  .logo {
    font-size: 1.5rem;

  }
  .burger-button {
    font-size: 1.25rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    line-height: 3rem;
    left: 82%;
    top: 1rem;
    
  }
  .avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
  }

  .intro {
    font-size: 1rem;
    line-height: 2rem;
  }

  .project-image {
    width: 300px;
    height: 180px;
  }

  .first-imageSpace {
    padding-top: 7.5rem;
  }

  .second-imageSpace {
    padding-top: 2rem;
  }
  
  .intro {
    padding-top: 2.5rem;
  }

  .portfolio {
    height: 93.75rem;
  }

}

@media screen and (max-width: 360px) {

  .project-image {
    width: 281.25px;
    height: 168.75px;
  }
  
}