
:root {
  --primary-color: #333333; /* Jet */
  --secondary-color: #00A3E9; /* Carolina Blue */
  --terciary-color: #EBEBEB; /* Platinum */
  --quaternary-color: #00C2E0; /* Vivid Sky Blue */

  --large-font-size: 1.953rem;
  --medium-font-size: 1.563rem;
  --small-font-size: 1.25rem;
  --base-font-size: 1rem;
}

            /*

              || General Styles
              
            */

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

strong {
  font-weight: 400;
  color: var(--quaternary-color);
}

h2, h4, p {
  margin: 0 0 1.5rem 0;
}

h2 {
  font-size: var(--large-font-size);
  font-weight: 600;
  color: #FFFFFF;
}

h4 {
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--primary-color);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

hr {
  width: 6rem;
  height: 3px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--secondary-color);
  border: none;
}

figure {
  margin: 0;
  width: 48%;
} 


button {
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  border-width: 0;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: var(--quaternary-color);
  cursor: pointer;
  animation-name: colorful-stretching;
  transition-duration: .5s;
}

button:hover {
  background-color: var(--secondary-color);
  width: 10rem;
}

footer {
  height: auto;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
  font-weight: 300;
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 75rem;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: center;
  flex-wrap: inherit; 
}

.subtitle {
  color: var(--secondary-color);
  text-align: center;
}

.box-sample {
  width: 100%;
}

.box-sample p {
  font-size: var(--medium-font-size);
  font-weight: 500;
  text-align: center;
  color: #000000;
}

footer .container {
  height: inherit;
  flex-direction: column;
  margin: 2rem 0;
}

#social-box {
  margin-bottom: 1rem;
}


            /*

              || Header Styles
              
            */

header {
  background-color: var(--primary-color);
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  transition: top 0.3s;
  opacity: 0.9;
}

header nav {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: inherit;
}

.menu-options a {
  color: #AAA9B2; 
  animation-name: coloration;
  transition-duration: .5s;
}

header ol a:hover {
  color:  #FFFFFF;
}

.menu {
  transition: .3s;
}

.logo {
  height: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.logo a {
  color: #FFFFFF;
}

.menu {
  height: inherit;
  display: inherit;
}

header ol {
  margin: 0;
  padding: 0;
  height: inherit;
  list-style: none;
  text-decoration: none;
  display: flex;
}

header ol li {
  padding-left: 2rem;
  height: inherit;
}

header a {
  height: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header ol a {
  font-weight: 400;
}

            /*

              || Landing Section Styles
              
            */

#landing {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
}

#landing h2 {
  margin-top: 6rem;
}

#landing p {
  font-size: var(--medium-font-size);
  font-weight: 400;
  color: #FFFFFF;
}

.social-media {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1.25rem;
  fill:#7F7D8C;
  animation-name: coloration;
  transition-duration: .5s;
}

.social-media:hover {
  fill: var(--terciary-color);
}

            /*

              || Projects Section Styles
              
            */

#projects {
  height: auto;
  padding: 3rem 0;
  background-color: var(--terciary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* #projects .container {
  align-items: initial;
} */

#antkd-itf {
  background-color: #B02B38;
}

#sushiito-restaurant {
  background-color: #2B7EA1;
}

#online-chess {
  background-color: #9A97C4;
}

#break-tracker {
  background-color: #E5D138;
}

.project-logo {
  animation-name: zoom-effect;
  transition-duration: .5s;
}

.project-box {
  width: 46%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}


.project-box a {
  width: 100%;
}

.project-box figure {
  width: inherit;
  height: 22.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-box h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.project-box p {
  color: #7F7D8C;
}

#redirection-links button {
  width: 6rem;
  height: 2rem;
  margin-right: .5rem;
}

figure:hover > .project-logo,
.project-logo:hover {
  transform: scale(1.10);
}


            /*

              || About Section Styles
              
            */

#about {
  height: auto;
  padding: 3rem 0;
  background-color: var(--terciary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about h2 {
  color: var(--secondary-color);
}

#about hr {
  background-color: var(--secondary-color);
}

#about figure {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .box-sample p {
  font-weight: 500;
}

#photo-container img {
  width: 23rem;
  height: 23rem;
  border-radius: 100%;
}

#text-container {
  width: 48%;
  height: auto;
}

            /*

              || Responsive Design Styles
              
            */


@media screen and (max-width: 1023px) {

  .projects figure {
    height: 16rem;
  }

  .project-selection {
    height: 16rem;
  }

  .profile-picture {
    width: 19rem;
    height: 19rem;
  }

}

@media screen and (max-width: 767px) {

  #landing .container {
    justify-content: center;
    text-align: center;
  }

  header nav {
    height: inherit;
    justify-content: space-between;
  } 

  header ol {
    display: initial;
  }

  header ol li {
    height: 5rem;
    text-align: center;
  }

  header a {
    justify-content: center;
  }

  .logo {
    width: 100%;
    margin-left: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .menu {
    width: 100vw;
    height: auto;
    background: rgba(12, 159, 249, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 100vw;  
    top: 0;
    bottom: 0;
  }

  .menu.is-active {
    left: 0;
  }

  figure {
    width: 98%;
  }

  .projects .container {
    flex-direction: column;
  }

  .projects figure {
    height: 21.875rem;
  }
  
  .project-selection {
    width: 100%;
    height: 22rem;
  }

  .project-box {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #sushiito-box {
    margin-bottom: 0;
  }

  .about .container {
    flex-direction: column;
  }

  #text-container {
    width: 100%;
  }

  #photo-container {
    padding-bottom: 2rem;
  }

  .about figure {
    height: 22rem;
  }

  .profile-picture {
    width: 22rem;
    height: 22rem;
  }

  .about figure {
    margin-top: 4rem;
  }
} 

@media screen and (max-width: 479px) {

  html, body {
    font-size: 12px;
  }

  .project-selection {
    width: 100%;
    height: 250px;
  }

  .projects figure {
    height: 16rem;
  }

  .about figure {
    height: 16rem;
  }

  .profile-picture {
    width: 16rem;
    height: 16rem;
  }

}